[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "echo 'Running migrations...' && python manage.py migrate --noinput -v 2 && echo 'Migrations complete!' && gunicorn greatbritishbeer.wsgi:application --log-file -"
